<div class="row">
    <div class="col-xs-2">
        <div class="demo-grid-box">xs-2</div>
    </div>
    <div class="col-xs-2">
        <div class="demo-grid-box">xs-2</div>
    </div>
    <div class="col-xs-2">
        <div class="demo-grid-box">xs-2</div>
    </div>
    <div class="col-xs-2">
        <div class="demo-grid-box">xs-2</div>
    </div>
    <div class="col-xs-2">
        <div class="demo-grid-box">xs-2</div>
    </div>
    <div class="col-xs-2">
        <div class="demo-grid-box">xs-2</div>
    </div>
</div>

<div class="row">
    <div class="col-sm-1">
        <div class="demo-grid-box">sm-1</div>
    </div>
    <div class="col-sm-1">
        <div class="demo-grid-box">sm-1</div>
    </div>
    <div class="col-sm-1">
        <div class="demo-grid-box">sm-1</div>
    </div>
    <div class="col-sm-1">
        <div class="demo-grid-box">sm-1</div>
    </div>
    <div class="col-sm-1">
        <div class="demo-grid-box">sm-1</div>
    </div>
    <div class="col-sm-1">
        <div class="demo-grid-box">sm-1</div>
    </div>
    <div class="col-sm-1">
        <div class="demo-grid-box">sm-1</div>
    </div>
    <div class="col-sm-1">
        <div class="demo-grid-box">sm-1</div>
    </div>
    <div class="col-sm-1">
        <div class="demo-grid-box">sm-1</div>
    </div>
    <div class="col-sm-1">
        <div class="demo-grid-box">sm-1</div>
    </div>
    <div class="col-sm-1">
        <div class="demo-grid-box">sm-1</div>
    </div>
    <div class="col-sm-1">
        <div class="demo-grid-box">sm-1</div>
    </div>
</div>

<div class="row">
    <div class="col-md-1">
        <div class="demo-grid-box">md-1</div>
    </div>
    <div class="col-md-1">
        <div class="demo-grid-box">md-1</div>
    </div>
    <div class="col-md-1">
        <div class="demo-grid-box">md-1</div>
    </div>
    <div class="col-md-1">
        <div class="demo-grid-box">md-1</div>
    </div>
    <div class="col-md-1">
        <div class="demo-grid-box">md-1</div>
    </div>
    <div class="col-md-1">
        <div class="demo-grid-box">md-1</div>
    </div>
    <div class="col-md-1">
        <div class="demo-grid-box">md-1</div>
    </div>
    <div class="col-md-1">
        <div class="demo-grid-box">md-1</div>
    </div>
    <div class="col-md-1">
        <div class="demo-grid-box">md-1</div>
    </div>
    <div class="col-md-1">
        <div class="demo-grid-box">md-1</div>
    </div>
    <div class="col-md-1">
        <div class="demo-grid-box">md-1</div>
    </div>
    <div class="col-md-1">
        <div class="demo-grid-box">md-1</div>
    </div>
</div>

<div class="row">
    <div class="col-lg-1">
        <div class="demo-grid-box">lg-1</div>
    </div>
    <div class="col-lg-1">
        <div class="demo-grid-box">lg-1</div>
    </div>
    <div class="col-lg-1">
        <div class="demo-grid-box">lg-1</div>
    </div>
    <div class="col-lg-1">
        <div class="demo-grid-box">lg-1</div>
    </div>
    <div class="col-lg-1">
        <div class="demo-grid-box">lg-1</div>
    </div>
    <div class="col-lg-1">
        <div class="demo-grid-box">lg-1</div>
    </div>
    <div class="col-lg-1">
        <div class="demo-grid-box">lg-1</div>
    </div>
    <div class="col-lg-1">
        <div class="demo-grid-box">lg-1</div>
    </div>
    <div class="col-lg-1">
        <div class="demo-grid-box">lg-1</div>
    </div>
    <div class="col-lg-1">
        <div class="demo-grid-box">lg-1</div>
    </div>
    <div class="col-lg-1">
        <div class="demo-grid-box">lg-1</div>
    </div>
    <div class="col-lg-1">
        <div class="demo-grid-box">lg-1</div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <div class="demo-grid-box">sm-4</div>
    </div>
    <div class="col-sm-2">
        <div class="demo-grid-box">sm-2</div>
    </div>
    <div class="col-sm-2">
        <div class="demo-grid-box">sm-2</div>
    </div>
    <div class="col-sm-1">
        <div class="demo-grid-box">sm-1</div>
    </div>
    <div class="col-sm-3">
        <div class="demo-grid-box">sm-3</div>
    </div>
</div>
