<i class="icon-down-open-big"></i>
<i class="icon-up-open-big"></i>
<i class="icon-right-open-big"></i>
<i class="icon-left-open-big"></i>
<i class="icon-pencil"></i>
<i class="icon-search"></i>
<i class="icon-mail"></i>
<i class="icon-heart"></i>
<i class="icon-heart-empty"></i>
<i class="icon-star"></i>
<i class="icon-star-empty"></i>
<i class="icon-user"></i>
<i class="icon-users"></i>
<i class="icon-user-add"></i>
<i class="icon-picture"></i>
<i class="icon-camera"></i>
<i class="icon-layout"></i>
<i class="icon-menu"></i>
<i class="icon-check"></i>
<i class="icon-cancel"></i>
<i class="icon-cancel-circled"></i>
<i class="icon-plus"></i>
<i class="icon-plus-circled"></i>
<i class="icon-minus"></i>
<i class="icon-minus-circled"></i>
<i class="icon-info-circled"></i>
<i class="icon-info"></i>
<i class="icon-home"></i>
<i class="icon-link"></i>
<i class="icon-attach"></i>
<i class="icon-lock"></i>
<i class="icon-lock-open"></i>
<i class="icon-eye"></i>
<i class="icon-thumbs-up"></i>
<i class="icon-thumbs-down"></i>
<i class="icon-download"></i>
<i class="icon-upload"></i>
<i class="icon-upload-cloud"></i>
<i class="icon-reply"></i>
<i class="icon-reply-all"></i>
<i class="icon-forward"></i>
<i class="icon-code"></i>
<i class="icon-export"></i>
<i class="icon-print"></i>
<i class="icon-comment"></i>
<i class="icon-chat"></i>
<i class="icon-location"></i>
<i class="icon-map"></i>
<i class="icon-compass"></i>
<i class="icon-doc-landscape"></i>
<i class="icon-doc-text"></i>
<i class="icon-doc-text-inv"></i>
<i class="icon-newspaper"></i>
<i class="icon-book-open"></i>
<i class="icon-book"></i>
<i class="icon-phone"></i>
<i class="icon-box"></i>
<i class="icon-archive"></i>
<i class="icon-folder"></i>
<i class="icon-cog"></i>
<i class="icon-login"></i>
<i class="icon-logout"></i>
<i class="icon-mic"></i>
<i class="icon-volume"></i>
<i class="icon-clock"></i>
<i class="icon-hourglass"></i>
<i class="icon-lamp"></i>
<i class="icon-light-down"></i>
<i class="icon-light-up"></i>
<i class="icon-adjust"></i>
<i class="icon-block"></i>
<i class="icon-resize-full"></i>
<i class="icon-resize-small"></i>
<i class="icon-popup"></i>
<i class="icon-down-circled"></i>
<i class="icon-left-circled"></i>
<i class="icon-right-circled"></i>
<i class="icon-up-circled"></i>
<i class="icon-down-open"></i>
<i class="icon-left-open"></i>
<i class="icon-right-open"></i>
<i class="icon-up-open"></i>
<i class="icon-down-open-mini"></i>
<i class="icon-left-open-mini"></i>
<i class="icon-right-open-mini"></i>
<i class="icon-up-open-mini"></i>
<i class="icon-down"></i>
<i class="icon-left"></i>
<i class="icon-right"></i>
<i class="icon-up"></i>
<i class="icon-down-dir"></i>
<i class="icon-left-dir"></i>
<i class="icon-right-dir"></i>
<i class="icon-up-dir"></i>
<i class="icon-down-bold"></i>
<i class="icon-left-bold"></i>
<i class="icon-right-bold"></i>
<i class="icon-up-bold"></i>
<i class="icon-down-thin"></i>
<i class="icon-left-thin"></i>
<i class="icon-right-thin"></i>
<i class="icon-up-thin"></i>
<i class="icon-ccw"></i>
<i class="icon-cw"></i>
<i class="icon-arrows-ccw"></i>
<i class="icon-level-down"></i>
<i class="icon-level-up"></i>
<i class="icon-shuffle"></i>
<i class="icon-loop"></i>
<i class="icon-switch"></i>
<i class="icon-play"></i>
<i class="icon-stop"></i>
<i class="icon-pause"></i>
<i class="icon-record"></i>
<i class="icon-to-end"></i>
<i class="icon-to-start"></i>
<i class="icon-fast-forward"></i>
<i class="icon-fast-backward"></i>
<i class="icon-progress-0"></i>
<i class="icon-target"></i>
<i class="icon-inbox"></i>
<i class="icon-install"></i>
<i class="icon-globe"></i>
<i class="icon-cloud"></i>
<i class="icon-cloud-thunder"></i>
<i class="icon-flash"></i>
<i class="icon-lifebuoy"></i>
<i class="icon-dot"></i>
<i class="icon-dot-2"></i>
<i class="icon-dot-3"></i>
<i class="icon-infinity"></i>
<i class="icon-erase"></i>
<i class="icon-chart-bar"></i>
<i class="icon-water"></i>
<i class="icon-droplet"></i>
<i class="icon-air"></i>
<i class="icon-database"></i>
