<div class="form-group">
    <label>Select With Search</label>
    <select class="chosen-select input-select has-search" data-placeholder="Choose an option...">
        <option value=""></option>
        <option value="">Apples</option>
        <option value="">Oranges</option>
        <option value="">Pears</option>
        <option value="">Bananas</option>
        <option value="">Grapefruit</option>
        <option value="">Strawberries</option>
    </select>
</div>

<div class="form-group">
    <label>Select Without Search</label>
    <select class="chosen-select input-select no-search" data-placeholder="Choose an option...">
        <option value=""></option>
        <option value="">Apples</option>
        <option value="">Oranges</option>
        <option value="">Pears</option>
        <option value="">Bananas</option>
        <option value="">Grapefruit</option>
        <option value="">Strawberries</option>
    </select>
</div>

<div class="form-group">
    <label>Select Disbaled</label>
    <select class="chosen-select input-select no-search" disabled data-placeholder="Choose an option...">
        <option value=""></option>
        <option value="">Apples</option>
        <option value="">Oranges</option>
        <option value="">Pears</option>
        <option value="">Bananas</option>
        <option value="">Grapefruit</option>
        <option value="">Strawberries</option>
    </select>
</div>
