<div class="form-group">
    <label>Input Label</label>
    <input type="text" class="form-input" placeholder="Input placeholder...">
</div>


<div class="form-group">
    <label>Disabled Input Label</label>
    <input type="text" class="form-input" disabled="disabled" placeholder="Input placeholder...">
</div>

<div class="form-group">
    <label>Search</label>
    <input type="search" class="form-input" placeholder="Search for a document">
</div>

<div class="form-group">
    <label>Input &amp; Action Group</label>
    <div class="input-group">
        <input type="text" class="form-input" placeholder="This input has a button">
        <i class="icon-plus-circled input-group-action"></i>
    </div>
</div>
