<h1 class="heading-xl">Heading xl</h1>
<h1 class="heading-lg">Heading lg</h1>
<h1 class="heading-md">Heading md</h1>
<h1 class="heading-sm">Heading sm</h1>
<h1 class="heading-xs">Heading xs</h1>
<h1 class="heading-xxs">Heading xxs</h1>

<h1 class="heading-md w-b">Bold (default)</h1>
<h1 class="heading-md w-r">Regular</h1>
<h1 class="heading-md w-l">Light</h1>

<h1 class="heading-xl lined">Heading Lined xl</h1>
<h1 class="heading-lg lined">Heading Lined lg</h1>
<h1 class="heading-md lined">Heading Lined md</h1>
<h1 class="heading-sm lined">Heading Lined sm</h1>
<h1 class="heading-xs lined">Heading Lined xs</h1>
<h1 class="heading-xxs lined">Heading Lined xxs</h1>

<h1 class="heading-md">Heading with link <a href="#">Edit</a></h1>
<h1 class="heading-md lined">Heading Lined with link <a href="#">Edit</a></h1>

<p>Paragraphy, lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, accusamus.</p>
<p class="lead">Lead Paragraph, lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
<p class="smallprint">Smallprint paragraph, lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis nisi, perspiciatis at.</p>
<p class="caps">Caps, lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, vero!</p>
<p class="capitalise">Capitalise, lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, vero!</p>
<p class="text-left">Left, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, ex?</p>
<p class="text-center">Center Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, qui?</p>
<p class="text-right">Right, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, quis!</p>
<p class="text-justify">Justified, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, soluta. Quis magni in perferendis sunt, aliquam cupiditate itaque aspernatur tenetur!</p>
<p class="text-truncate">Truncated, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, nobis omnis exercitationem libero adipisci expedita at incidunt, pariatur amet eum nemo a! Reprehenderit, similique quibusdam excepturi eos consequuntur iste amet? Nemo excepturi repellat, ea ad eaque fugiat illo iusto. Voluptates inventore saepe quas praesentium, maiores vero quia modi perspiciatis vitae reprehenderit, nisi esse laboriosam fugiat in delectus doloremque veniam eius.</p>
<p class="has-bullet">This paragraph has a bullet point. Lorem ipsum dolor sit amet, consectetur adipisicing elit. In nisi eveniet praesentium suscipit vel natus possimus consequatur quia dolorem, est incidunt, quod doloremque dolorum labore earum distinctio quos fuga laborum!</p>
<p class="has-bullet smallprint">This smallprint has a bullet point. Lorem ipsum dolor sit amet, consectetur adipisicing elit. In nisi eveniet praesentium suscipit vel natus possimus consequatur quia dolorem, est incidunt, quod doloremque dolorum labore earum distinctio quos fuga laborum!</p>

<ul class="bullet-list">
    <li>Lorem ipsum dolor sit amet.</li>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, quas!</li>
    <ul class="bullet-list">
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, quas!</li>
        <li>Lorem ipsum dolor sit amet.</li>
    </ul>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, quas!</li>
    <ul class="bullet-list">
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, quas!</li>
        <li>Lorem ipsum dolor sit amet.</li>
        <ul class="bullet-list">
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, quas!</li>
            <ul class="bullet-list">
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, quas!</li>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, quas!</li>
            </ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, quas!</li>
        </ul>
    </ul>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, quas!</li>
</ul>

<p>Paragraph with a <a href="#">standard</a> link.</p>
<p>Paragraph with a <a href="#" class="text-link">.text-link</a> link.</p>
<p><b>Bold paragraph text:</b> with <span class="c-highlight">highlight</span>, <span class="c-alert">alert</span>, <span class="c-secondary">secondary</span>and <span class="c-details">details</span> colours.</p>
<p>This is an <abbr title="abbreviation">abbr</abbr> tag.</p>
<h1 class="list-title">List Title</h1>
<h1 class="list-title">List Title With Link <a href="#">View all</a></h1>
<div class="timestamp">21 April 2015 at 09.45 (timestamp)</div>

<br>
<br>

<div><i class="icon-down-bold"></i>Horiztonal Rule Light<i class="icon-down-bold"></i></div>
<hr class="rule-light">

<div><i class="icon-down-bold"></i>Horiztonal Rule Medium<i class="icon-down-bold"></i></div>
<hr class="rule-medium">

<div><i class="icon-down-bold"></i>Horiztonal Rule Dark<i class="icon-down-bold"></i></div>
<hr class="rule-dark">
